/*----Basic page set up --------------------------------------------------------
------------------------------------------------------------------------------*/
body {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
}
main {
  min-width: 50%;
  max-width: 63%;
  margin-left: auto;
  margin-right: auto;
}
li {
  display: inline-block;
}
/*The following section arranges & styles content in the header -------------------------
------------------------------------------------------------------------------*/
h1 {
  font-size: 25px;
  color: white;
  margin: 25px;
  font-weight: 800;
}
 a {
  font-size: 25px;
  text-decoration: underline;
}
li.nav-links {
  margin-right: 15px;
}
.header-text, .header-nav {
  display: inline-block;
}
header {
  position: relative;
}
div.header-nav {
  vertical-align: center;
}
div.header-text {
  margin-right: 61%;
}

/*The follow section arranges the blue banner box ------------------------------
------------------------------------------------------------------------------*/
div.banner-image {
  float: left;
}
section.text-cats {
  clear: both;
}
h2.meowcome {
  text-align: center;
  color: white;
  font-size: 60px;
  padding-top: 35px;
}
/*The following section arranges ing, header, and paragraph elements in <main>--
------------------------------------------------------------------------------*/
p {
  padding: 10px 30px 20px 30px;
  font-size: 22px;
}
h3 {
  padding: 10px 30px;
  font-size: 40px;
}
li.cat-pics {
  padding: 10px;
}
li.cat-pics > img {
  border: 3px solid black;
}

/*The following pretties about the "text-about" section ------------------------
------------------------------------------------------------------------------*/
h3.h3-about {
  text-transform: uppercase;
  color: #EF476F;
  text-align: center;
  font-size: 30px;
  float: left;
  padding: 10px 100px 10px 120px;


}
p.float-clear {
 clear: both;
 padding: 20px 30px 20px 30px;
 margin: 0;
 color: white;
}


/*The following section sets the color boxes, along with header and footer width
------------------------------------------------------------------------------*/
section.banner, div.banner-image, div.banner-text, main {
  background-color  : #26547C;
}
section.text-cats {
  background-color: #FFD166;
}
section.text-products {
  background-color: #F2F2F2;
}
section.text-about {
  background-color: #26547C;
}
header, footer {
  background-color: #06D6A0;
  width: 100%;
}
p.footer {
  color: white;
  text-align: right;
  vertical-align: middle;
  font-size: 30px;
}

















/*
h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
}
.text {
  margin: 50px 20px 50px 20px;
}

img.cat-pics {

}



*/
